.form {
  @include padding(2.5rem, 1.8rem);
  background-image: radial-gradient(circle at 50% 50%, $dusk, #211e2e 92%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(0, 0, 0, 0);
  text-align: center;
  &_title {
    @include font($fontMonserrat, 3rem, $white, bold);
  }
  &_askInfo {
    padding: 1.8rem;

    &-subtitle {
      @include font($fontMonserrat, 1.5rem, $white, 300);
      padding-bottom: 10px;
    }

    &-line {
      width: 40%;
      border: 0;
      height: 1px;
      margin: auto;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }

    &-autor {
      @include font($fontMonserrat, 1.8rem, $white, 300);
      margin-bottom: 0.5rem;
    }
  }

  &_project {
    @include fieldset;

    &-input,
    &-textarea {
      @include font($fontMonserrat, 1rem, $white, 300);
      background-color: transparent;
      border-radius: 4rem;
      border: solid 0.2rem $white;
      padding-inline: 1.5rem;
      padding-block: 1rem;
      &::placeholder {
        color: $white-80;
      }
    }

    &-textarea {
      height: 8rem;
      border-radius: 2.5rem;
    }
  }

  &_btn {
    margin-top: 4rem;

    &-upload {
      @include font($fontMonserrat, 1rem, $white, bold);
      @include padding(1.5rem, 0.5rem);
      @include btn(
        none,
        4rem,
        linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%)
      );
      margin-right: 0.5rem;
      margin-bottom: 1.8rem;
      width: 12rem;
    }

    &-create {
      @include font($fontMonserrat, 1rem, $white, bold);
      @include padding(4rem, 1rem);
      @include btn(
        solid 2px white,
        4rem,
        linear-gradient(90deg, #8176af -1.57%, #c0b7e8 98.43%)
      );
      margin-bottom: 2rem;
    }
  }

  &_card {
    color: white;
    text-align: center;
    padding: 20px;
  }
}

.hidden {
  display: none;
}
.footer {
  text-align: center;
  margin-top: 1.9rem;
  &_img {
    width: 12rem;
    height: 4.6rem;
  }
}

// .btn-color {
//   border-radius: 20px;
//   width: 85px;
//   height: 30px;
//   font-weight: bold;
// }

// .btn-color-dark {
//   background-color: black;
//   color: white;
// }
