@import '../core/variables';
@import '../core/mixins';

.container {
  background-color: $dark;
  padding: 2.5rem;
}
.header {
  @include dFlex(row, space-between, center);
  &_left{
    display: flex;
    align-items: center;
    gap:1rem;
  &-icon {
    font-size: 3rem;
    color: $white;
  }
  &-text {
    @include font($fontPoppins, 1.4rem, $white-50, 300);
  }
}
  &_logo {
    @include size(12.3rem, 4.6rem);
  }
}
