.main {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}
.intro {
  text-align: center;
  &_title {
    @include font($fontMonserrat, 2rem, $white, bold);
  }
  &_text {
    margin-top: 0.8rem;
    @include font($fontMonserrat, 1.2rem, $white-80, 300);
    padding-inline: 4rem;
  }
  &_btn {
    margin-top: 1.2rem;
    @include font($fontRoboto, 1rem, $white, bold);
    text-transform: uppercase;
    background-color: $dark-lilac;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    border: none;
    border-radius: 2rem;
  }
}
