@import '../core/variables';
@import '../core/mixins';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 3rem;
  min-height: 100vh;
}
.intro {
  text-align: center;
  &_title {
    @include font($fontMonserrat, 2rem, $white, bold);
    @media (min-width: 768px){
      font-size: 4rem; 
    }
  }
  &_text {
    margin-top: 0.8rem;
    @include font($fontMonserrat, 1.2rem, $white-80, 300);
    padding-inline: 4rem;
    @media (min-width: 768px){
      font-size: 1.8rem; 
    }
  }
}