.preview {
  margin-top: 3rem;
  &_image {
    object-fit: cover;
    @include size(100%, 30.7rem);
  }

  &_autor {
    @include dFlex(row-reverse, none, center);
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 2rem;
    transform: translateY(-50px);
  }
}

.infoProject {
  width: 60%;
  &_container {
    &-subtitle {
      @include font($fontPoppins, 0.8rem, $dark, 300);
      text-align: center;
      position: relative;
      display: inline-block;

      background-color: white;
      z-index: 1;
    }

    &-line {
      width: 100%;
      border: 0;
      height: 2px;
      position: absolute;
      top: 30%;
      left: 10%;
      transform: translateY(-0.8rem);

      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(1, 1, 1, 0.75),
        rgba(255, 255, 255, 0)
      );
    }

    &_title {
      font-size: 20px;
      color: black;
      margin-bottom: 10px;
    }
    &_slogan {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &_desc {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

.technologies {
  background-color: lightgray;
  border-radius: 20px;
  font-size: 14px;
  padding: 10px;
  width: 70%;
  &_text {
    color: red;
  }
}

.infoAutor {
  width: 40%;
  text-align: center;
  &_image {
    border-radius: 50%;
    width: 80px;
    height: 110px;
  }
  &_job {
    font-weight: bold;
    color: black;
    font-size: 14px;
  }
  &_name {
    font-size: 16px;
  }
}
