.preview {
  margin-top: 3rem;
  padding-inline: 1rem;

  &_image {
    object-fit: cover;
    @include size(100%, 30.7rem);
  }

  &_autor {
    @include dFlex(row-reverse, none, center);
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 2rem;
    transform: translateY(-40px);
  }

  .infoProject {
    width: 60%;
    @include padding(1rem, 2rem);

    &_container {
      display: flex;
      align-items: center;
      &-line1 {
        color: $dark;
        @include size(3.4rem, 0.2rem);
        border: 0;
        background-image: linear-gradient(to right, #ffffff00, #010101bf);
      }
      &-subtitle {
        @include font($fontPoppins, 0.8rem, $dark, 300);
      }

      &-line2 {
        color: $dark;
        @include size(3.4rem, 0.2rem);
        border: 0;
        background-image: linear-gradient(to right, #010101bf, #ffffff00);
      }
    }

    &_title {
      @include font($fontPoppins, 1.4rem, $black, 500);
      //text-align: left;
    }

    &_slogan {
      @include font($fontPoppins, 1.2rem, $greyish-brown-two, 500);
      margin-bottom: 1.4rem;
    }

    &_desc {
      @include font($fontPoppins, 0.8rem, $greyish-brown-88, regular);
      margin-bottom: 1.6rem;
    }
  }

  .technologies {
    width: 70%;

    &_text {
      @include font($fontcatamaran, 1rem, $greyish-brown, 500);
    }
  }

  .infoAutor {
    width: 40%;
    text-align: center;

    &_image {
      border-radius: 50%;
      @include size(9rem, 9rem);
    }

    &_job {
      @include font($fontcatamaran, 1rem, $warm-grey, 500);
    }

    &_name {
      @include font($fontcatamaran, 1.4rem, $black-80, bold);
    }
  }
}
