$white: white;
$white-50: #ffffff80;
$white-80: #ffffffcc;
$black: black;
$dark: #302c42;
$dark-lilac: #8176af;

$fontPoppins: 'Poppins', sans-serif;
$fontMonserrat: ' Montserrat', sans-serif;
$fontcatamarn: 'Catamaran', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
