<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
    <script
      src="https://kit.fontawesome.com/bcc6ce623e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/svg+xml" href="./srcc/public-react/assets/cat-4d8ab4d1.svg" />
</head>
<body><div class="container">
    <header class="header">
      <a href="http://localhost:3001/">
        <div class="header_left">
          <i class="fa-solid fa-cat fa-2xl header_left-icon"></i>
          <p class="header_left-text">Proyectos Mágicos</p>
        </div></a
      >
      <!-- <img
        class="header_logo"
        src="./srcc/public-react/assets/logo-adalab.png"
        alt="Logo Adalab"
      /> -->
    </header>
    <main class="main">
        <h1 class="intro_title">OOOPS! PAGE NOT FOUND</h1>
        <p class="intro_subtitle">¡Lo sentimos! La lechuza mensajera no ha llegado y este proyecto no existe</p>
        <img class="gif" src="https://media.tenor.com/DvaabuszSn4AAAAC/owl-harry-potter.gif" alt="">
      </main>
     
        
</body>
</html>