.trail {
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 90%;
    background: linear-gradient(#c5b1ee, #b700ff);
    /* lila, morado, fucsia */
    filter: blur(5px);
    filter: blur(7px);
    transition: 0.1s ease-out;
  }
  