@import '../core/variables';
@import '../core/mixins';

.form {
  @include padding(2.5rem, 1.8rem);
  background-image: radial-gradient(circle at 50% 50%, $dusk, #211e2e 92%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(0, 0, 0, 0);
  text-align: center;
  @media (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  &_trash {
    font-size: 2.5rem;
    color: $white;
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    padding-block: 1.5rem;
    &:hover {
      color: $dark-lilac;
    }
  }
  &_title {
    @include font($fontMonserrat, 3rem, $white, bold);
    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }
  &_askInfo {
    width: 100%;
    padding: 1.8rem;
    &_container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &-subtitle {
        @include font($fontMonserrat, 1.5rem, $white, 300);
        padding-bottom: 10px;
        @media (min-width: 768px) {
          font-size: 1.8rem;
        }
      }  
    }
    &-line {
      width: 40%;
      border: 0;
      height: 1px;
      margin: auto;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
      );
    }

    &-autor {
      @include font($fontMonserrat, 1.8rem, $white, 300);
      margin-bottom: 0.5rem;
    }
  }
  &_project {
    @include fieldset;
    &-input,
    &-textarea {
      @include font($fontMonserrat, 1rem, $white, 300);
      background-color: transparent;
      border-radius: 4rem;
      border: solid 0.2rem $white;
      padding-inline: 1.5rem;
      padding-block: 1rem;
      &::placeholder {
        color: $white-80;
        background-color: transparent;
      }
      &:hover,
      &:focus {
        outline: none;
        border: 2px solid $dark-lilac;
        box-shadow: 0px 0px 0px 7px $dusk;
        background-color: transparent;
      }
      @media (min-width: 768px) {
        font-size: 1.4rem;
      }
    }
    &-textarea {
      height: 8rem;
      border-radius: 2.5rem;
    }
  }
  &_btn {
    margin-top: 4rem;
    @media (min-width: 768px) {
      margin-top: 2rem;
    }
    &-first {
      @media (min-width: 768px) {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
      }
      &-upload {
        display: inline-block;
        @include font($fontMonserrat, 1rem, $white, bold);
        @include padding(1.5rem, 0.5rem);
        @include btn(
          none,
          4rem,
          linear-gradient(90deg, $dusk -1.57%, $dark-lilac 98.43%)
        );
        margin-right: 0.5rem;
        margin-bottom: 1.8rem;
        width: 12rem;
        cursor: pointer;
        &:hover {
          box-shadow: $dusk 0px 7px 0px 0px;
         }
         
         &:active {
          background-color: $dusk;
          /*50, 168, 80*/
          box-shadow: $dark-lilac 0px 0px 0px 0px;
          transform: translateY(5px);
          transition: 200ms;
         }
        @media (min-width: 768px) {
          font-size: 1.2rem;
          @include padding(2.5rem, 1rem);
          width: 16rem;
        }
      }
    }

    &-create {
      @include font($fontMonserrat, 1rem, $white, bold);
      @include padding(4rem, 1rem);
      @include btn(
        solid 2px $dusk,
        4rem,
        linear-gradient(90deg, $dusk -1.57%, $dark-lilac 98.43%)
      );
      margin-bottom: 3rem;
      cursor: pointer;
      transition-duration: 0.8s;
      // &:hover {
      //   box-shadow: $dusk 0px 7px 0px 0px;
      //  }
       
      //  &:active {
      //   background-color: $dusk;
      //   /*50, 168, 80*/
      //   box-shadow: $dark-lilac 0px 0px 0px 0px;
      //   transform: translateY(5px);
      //   transition: 200ms;
      // }
       &:hover,:focus {
        color: $white;
        background: linear-gradient(90deg, $dusk -1.57%, $dark-lilac 98.43%);
        border: solid $dusk;
        text-shadow: 0 0 5px $dark-lilac,
                    0 0 10px $dark-lilac,
                    0 0 20px $dark-lilac;
        box-shadow: 0 0 5px $dusk,
                    0 0 20px $dusk,
                    0 0 20px $dusk,
                    0 0 20px $dusk;
      }
      @media (min-width: 768px) {
        font-size: 1.6rem;
        margin-bottom: 5rem;
        @include padding(4.5rem, 1.5rem);
      }
    }
  }
  &_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    &-msg {
      @include font($fontMonserrat, 1rem, $white, 300);
      @media (min-width: 768px) {
        font-size: 1.6rem;
      }
    }
    &-link {
      text-decoration: none;
      margin-bottom: 3rem;
      @include font($fontMonserrat, 1rem, $dark-lilac, 300);
      overflow-wrap: break-word;
      cursor: pointer;
      @media (min-width: 768px) {
        font-size: 1.6rem;
      }
    }
  }
}
.hidden {
  display: none;
}
.error {
  @include font($fontMonserrat, 1rem, #da5757, bold);
  padding-bottom: 1rem;
  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}
