@import '../core/variables';
@import '../core/mixins';

.main {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  min-height: 100vh;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 8% 8% 84%;
  }
}
.intro {
  text-align: center;
  @media (min-width: 768px) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  &_title {
    @include font($fontMonserrat, 2rem, $white, bold);
    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }
  &_text {
    margin-top: 0.8rem;
    @include font($fontMonserrat, 1.2rem, $white-80, 300);
    padding-inline: 4rem;
    @media (min-width: 768px) {
      font-size: 1.8rem;
    }
  }
}
