@import '../core/variables';
@import '../core/mixins';

.landing {
  text-align: center;
  @media (min-width: 768px) {
    margin-top: 4rem;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.previewLanding {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    margin-block: 4rem;
    flex-direction: row;
    grid-column: 1/3;
  }
}
.autorLanding {
  transform: translateY(0);
  overflow-wrap: break-word;
  @include padding(0.5rem, 1rem);
  transition: 0.8s;
  @media (min-width: 1200px) {
    transform: translateY(0);
    margin: 0;
    height: 100%;
    width: 100%;
  }
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px $dark-lilac, 0 0 20px $dark-lilac, 0 0 20px $dark-lilac,
      0 0 20px $dark-lilac;
  }
}

.cardClick {
  display: inline-block;
  @media (min-width: 1200px) {
    width: 48%;
  }
}

.titleLanding {
  font-size: 1rem;
}

.sloganLanding {
  font-size: 0.8rem;
}

.descLanding {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    border-radius: 50%;
    background-color: #9e166359;
  }
  &_iconTrash {
    cursor: pointer;
    color: $dark-lilac;
    font-size: 1.5rem;
    @include padding(0.8rem, 1.5rem);
    &:hover {
      color: $white;
    }
    @media (min-width: 768px) {
      @include padding(1.3rem, 2rem);
      font-size: 2rem;
    }
  }
}

.divIntro{
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 768px) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.divSort{
  display: flex;
  gap: 2rem; 
  align-items: center;
}


.labelSort{
  @include font($fontRoboto, 1.4rem, $white, bold);
  border-radius: 2rem;
  border: 1px solid $dark-lilac;
  cursor: pointer;
  text-transform: uppercase;
  @include padding(1rem, 0.5rem);
  background-color: $dusk;
}

.inputSort {
  display: none;
}