$white: white;
$white-50: #ffffff80;
$white-80: #ffffffcc;
$black: black;
$black-80: rgba(0,0,0,0.8);
$dark: #302c42;
$dark-lilac: #8176af;
$warm-grey:#909090;
$dusk:#403a5f;
$greyish-brown-88:#3e3e3ee1;
$greyish-brown: #505050;
$greyish-brown-two: #575757;


$fontPoppins: 'Poppins', sans-serif;
$fontMonserrat: ' Montserrat', sans-serif;
$fontcatamaran: 'Catamaran', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
